@using (Html.BeginForm())
{
    <div>
        <table class="table">
            <thead class="ScrollHead">
                <tr>
                    <th data-column-id="Check" name="select"></th>
                    <th data-column-id="studentName">Nombres</th>
                    <th data-column-id="studentSurname">Apellidos</th>
                    <th data-column-id="studentNIT">Identificación</th>
                    <th data-column-id="studentPhoneNumber">Telefono</th>
                    <th data-column-id="studentEmail">Correo</th>
                </tr>
            </thead>
            <tbody id="Students_List"></tbody>
        </table>
    </div>


    @section Scripts
        {
        <script src="@Url.Content("~/js/Scripts/HomeScripts.js")" type="text/javascript"></script>
    }
}





